@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 94%;
    --foreground: 333 16% 30%;
    --card: 345 33% 86%;
    --card-foreground: 333 16% 30%;
    --popover: 60 56% 94%;
    --popover-foreground: 333 16% 30%;
    --primary: 333 16% 45%;
    --primary-foreground: 60 56% 94%;
    --secondary: 345 33% 86%;
    --secondary-foreground: 333 16% 30%;
    --muted: 345 33% 86%;
    --muted-foreground: 333 16% 50%;
    --accent: 338 24% 78%;
    --accent-foreground: 333 16% 20%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 345 33% 82%;
    --input: 345 33% 80%;
    --ring: 333 16% 45%;
    --radius: 0.75rem;

    --chart-1: 333 16% 45%;
    --chart-2: 345 33% 70%;
    --chart-3: 40 40% 70%;
    --chart-4: 333 16% 65%;
    --chart-5: 345 33% 80%;
    
    --sidebar-background: 60 56% 96%;
    --sidebar-foreground: 333 16% 30%;
    --sidebar-primary: 333 16% 45%;
    --sidebar-primary-foreground: 60 56% 94%;
    --sidebar-accent: 345 33% 90%;
    --sidebar-accent-foreground: 333 16% 30%;
    --sidebar-border: 345 33% 86%;
    --sidebar-ring: 333 16% 45%;
  }

  .dark {
    --background: 135 8% 15%;
    --foreground: 43 25% 91%;
    --card: 141 6% 25%;
    --card-foreground: 43 25% 91%;
    --popover: 135 8% 15%;
    --popover-foreground: 43 25% 91%;
    --primary: 26 29% 50%;
    --primary-foreground: 43 25% 91%;
    --secondary: 141 6% 30%;
    --secondary-foreground: 43 25% 91%;
    --muted: 141 6% 30%;
    --muted-foreground: 141 6% 65%;
    --accent: 26 29% 50%;
    --accent-foreground: 43 25% 91%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 141 6% 30%;
    --input: 141 6% 30%;
    --ring: 26 29% 50%;
    
    --chart-1: 26 29% 50%;
    --chart-2: 141 6% 50%;
    --chart-3: 160 74% 39%;
    --chart-4: 280 74% 50%;
    --chart-5: 340 74% 50%;

    --sidebar-background: 135 8% 15%;
    --sidebar-foreground: 43 25% 91%;
    --sidebar-primary: 26 29% 50%;
    --sidebar-primary-foreground: 43 25% 91%;
    --sidebar-accent: 141 6% 25%;
    --sidebar-accent-foreground: 43 25% 91%;
    --sidebar-border: 141 6% 25%;
    --sidebar-ring: 26 29% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
